#all{
    width: 1000px;
    margin:0 auto;
    text-align: center;
}
#content{
    width:1000px;
    margin: 10px auto;
}
#table_i{
    width:300px;
    margin:0 auto;
}
/*#list*/
#list{
    width:200px;
    height:300px;
    float:left;
}
#detial{
    width:800px;
    height:300px;
    float:left;
    /*background-color:red;*/
}
