#all{
    width: 1000px;
    margin:0 auto;
    text-align: center;
}
#content{
    width:1000px;
    margin: 10px auto;
}
#table_i{
    width:300px;
    margin:0 auto;
}
/*#list*/
#list{
    width:200px;
    height:300px;
    float:left;
}
li{
   list-style: none;
   width:20px;
   float:left;
}
.pagination{
    width:120px;
    margin:30px auto ;
    background-color:red;
}
#detial{
    width:800px;
    height:300px;
    float:left;
    /*background-color:red;*/
}
#c_list{
    width:1000px;
    text-align: left;
}
a{
    text-decoration: none;
}